@media (max-width: 1024px) {
	.quiz-hero {
		width: 50%;
	}
	.quiz-container {
		max-width: 100%;
	}
}

@media (max-width: 768px) {
	.quiz-hero {
		width: 80%;
	}
	.image-container {
		width: 250px;
	}
	.quiz-images {
		max-width: 250px;
	}
}

@media (max-width: 480px) {
	.quiz-hero {
		width: 100%;
	}
	.quiz-container > h1 {
		font-size: 1.5rem;
	}

	.quiz-container {
		padding: 1rem 1rem;
		gap: 1rem;
	}
	.question-container {
		gap: 1rem;
	}
}
