.movie-card-wrapper {
	position: relative;
	display: inline-block;
	padding: 20px;
}

.movie-card {
	width: 250px;
	height: auto;
	margin: 8px;
	border-radius: 8px;
	overflow: hidden;
	cursor: pointer;
	transition: transform 0.3s ease, box-shadow 0.3s ease;
	z-index: 1000;
}

.movie-card-wrapper:hover .movie-card {
	transform: translateY(-6px) scale(1.5);
	box-shadow: 0 8px 18px rgba(0, 0, 0, 0.12);
}

.movie-card:hover {
	transform: translateY(-6px) scale(1.1);
	box-shadow: 0 8px 18px rgba(0, 0, 0, 0.12);
}

.movie-image {
	width: 250px;
	border-radius: 10px;
}

.card-content {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	padding: 12px;
	box-sizing: border-box;

	/* Hidden at first */
	opacity: 0;
	transform: translateY(20px);
	transition: opacity .25s ease, transform .25s ease;

	background: linear-gradient(to top, rgba(0, 0, 0, 0.8), transparent);
	color: white;
}

.movie-card:hover .card-content {
	opacity: 1;
	transform: translateY(0);
}
