.header-section-home {
	background-image: linear-gradient(
			to bottom,
			transparent 50%,
			var(--dark-purple) 100%
		), url("../../assets/images/background-home.jpg");
	background-size: cover;
	background-position: center;
	padding-top: 6rem;
}
.premier-titre {
	width: 35%;
}

.width-30 {
	width: 30%;
}

.buttons-container {
	display: flex;
	justify-content: space-between;
	gap: 40px;
}

.btn-empty {
	border: 3px solid var(--light-purple);
	background-color: transparent;
	text-decoration: none;
	margin-top: 10px;
}

.padding-20 {
	padding-top: 20px;
	padding-bottom: 50px;
	text-align: center;
}
#selection-de-la-semaine {
	margin-bottom: 40px;
	padding-top: 50px;
	height: 800px;
}

.primary-button-home {
	text-decoration: none;
	margin-top: 10px;
}
.dot {
	width: 10px;
	height: 10px;
	border-radius: 50%;
	margin: 0 5px;
	border: none;
	background: transparent;
	opacity: 0.4;
	cursor: pointer;
	transition: opacity 0.2s, background-color 0.2s;
}