@media screen and (max-width: 800px) {
	.header-section-home {
		background-image: linear-gradient(
				to bottom,
				transparent 50%,
				var(--dark-purple) 100%
			), url("../../assets/images/background-home.jpg");
		background-size: cover;
		background-position: center;
		padding-top: 10rem;
	}

	.primary-title {
		padding-top: 20vh;
		font-size: 1.7rem;
	}

	.premier-titre {
		width: 50%;
	}

	.body-text {
		font-size: 1.1rem;
	}

	.buttons-container {
		flex-direction: column;
		gap: 20px;
	}

	#selection-de-la-semaine {
		margin-bottom: 40px;
		padding-top: 50px;
		height: 800px;
	}

	.primary-button-home {
		text-decoration: none;
		margin-top: 10px;
	}
}
