.star-rating-container {
	display: flex;
	align-items: center;
	gap: 5px;
}

.star-icon {
	font-size: 35px;
	color: #ccc;
	cursor: grabbing;
	transition: color 0.25s ease, transform 0.15s ease;
	user-select: none;
}

.star-icon.filled {
	color: #ffd700;
}

.star-icon:hover ~ .star-icon {
	color: #ccc !important;
}

.star-icon.pulse {
	transform: scale(1.2);
}

.rating-note {
	font-size: 18px;
	margin-left: 10px;
	font-weight: bold;
	color: #444;
}
