.all-page {
	width: 80%;
	margin: 0 auto;
}

.header-frontend-container {
	display: flex;
	justify-content: flex-start;
	gap: 20px;
	border: yellow 2px solid;
}

.header-details {
	background-size: cover;
	background-position: center;

	color: var(--white);
	border: red 2px solid;
	padding: 20px 0 20px 0;
}
.header-details::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.5);
	z-index: -1;
}

.test {
	display: flex;
	justify-content: space-between;
}
.affiche-details {
	width: 50%;
}
.tag-list {
	margin-bottom: 20px;
}

.tag {
	font-size: 1.8rem;
	padding: 20px;
}

.infos {
	margin-top: 20px;
	text-align: left;
	font-size: 1rem;
}

.info-details {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 20px;
	border: paleturquoise 2px solid;
}

.providers-container {
	border: 2px solid blue;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

.bouton-trailer-details {
	text-decoration: none;
}

.disponibilité-details {
	display: flex;
	justify-content: flex-end;
	gap: 20px;
}

.disponibilité-details img {
	width: 50px;
}

.stars {
	color: gold;
	font-size: 1.5rem;
}

.trailer-article {
	display: flex;
	justify-content: center;
	padding: 40px 0 40px 0;
}

.description-details {
	display: flex;
}

.overview-details {
	padding: 100px;
	width: 50vw;
	line-height: 2;
}

.information-details {
	padding: 100px;
	width: 50vw;
}

.p-information-details {
	margin: 20px;
}

.center {
	text-align: center;
}

.padding-30 {
	padding: 30px;
}
.commentaires {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 20px;
	width: 100%;
}

.commentaire-box {
	width: 100%;
	margin: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 20px;
	width: 100%;
}
#bouton-commentaire-details {
	border-radius: 40px;
	margin: 10px;
	width: 160px;
	height: 50px;
	padding: 15px;
	text-decoration: none;
	font-size: 1rem;
}
#bouton-commentaire-details:hover {
	zoom: 1.1;
}

.pseudo {
	width: auto;
}
.comment {
	height: 50px;
	width: 500px;
	scrollbar-width: auto;
}

#nouveau-commentaire {
	text-align: center;
}

.films-similaire {
	margin-bottom: 50px;
}

.last-commentaire {
	border-radius: 5px;
	background-color: rgba(248, 249, 251, 0.61);
	margin: 20px;
	width: 80vw;
}

.tous-les-commentaires {
	background-color: rgba(248, 249, 251, 0.2);
	border-radius: 10px;
	border: rgba(248, 249, 251, 0.61);
}
