.primary-background {
	background: var(--primary-background);
}

.primary-title {
	color: var(--white);
	font-family: var(--font-family-title);
	font-size: var(--font-size-h1);
	font-weight: var(--font-weight-title-bold);
}

.secondary-title {
	color: var(--white);
	font-family: var(--font-family-title);
	font-size: var(--font-size-h2);
	font-weight: var(--font-weight-title-bold);
}

.section-title {
	color: var(--white);
	font-family: var(--font-family-title);
	font-size: var(--font-size-h3);
	font-weight: var(--font-weight-title-bold);
}

.header-section-center {
	padding: 3rem 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	gap: 1rem;
}

.body-text {
	color: var(--white);
	font-family: var(--font-family-text);
	font-size: var(--font-size-text);
	font-weight: var(--font-weight-text-normal);
	line-height: 1.2;
}

.body-text-blue {
	color: var(--light-blue);
}

.body-text-bold {
	font-weight: var(--font-weight-text-bold);
}

.primary-button {
	color: var(--white);
	background-color: var(--light-purple);
	font-family: var(--font-family-title);
	font-size: var(--font-size-text);
	font-weight: var(--font-weight-text-bold);
	padding: 1em;
	border: none;
	border-radius: 40px;
	text-decoration: none;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	line-height: 1;
}

.primary-button:hover {
	background: linear-gradient(90deg, var(--light-blue), var(--light-purple));
	background-size: 200% 200%;
	transition: 0.4s ease;
	animation: gradientShift 2s linear infinite;
	transform: scale(1.05);
}

@keyframes gradientShift {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.loading-movies {
	display: flex;
	justify-content: center;
	margin: 3rem auto 6rem;
}
