.recos-bg {
	min-height: 100vh;
	background: var(--primary-background);
}

.recos-bg .header-section-center h1.secondary-title {
	max-width: 30ch;
}

.recos-bg .header-section-center p.body-text {
	max-width: 45ch;
}

.link-center-container {
	margin: 0 auto;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1rem;
}

.low-emphasis-button {
	background-color: #f8f9fb33;
}
